version: "3"
services:
  ipfs:
    image: ipfs/go-ipfs:latest
    hostname: ipfs_host1
    volumes:
    - "./export:/export"
    - "./data/ipfs:/data/ipfs"
#    command: bash -c "
#       ipfs config Addresses.API "/ip4/0.0.0.0/tcp/5001"
#       && ipfs config Addresses.Gateway "/ip4/0.0.0.0/tcp/8080" 
#        && ipfs config --json API.HTTPHeaders.Access-Control-Allow-Origin '["http://178.154.248.132:5001", "http://localhost:3000", "http://127.0.0.1:5001", "https://webui.ipfs.io"]' 
 #       && ipfs config --json API.HTTPHeaders.Access-Control-Allow-Methods '["PUT", "POST"]'
  #       "

    ports:
      - "5001:5001"
      - "4001:4001"
      - "8080:8080"
  
  ganache:
    build: ganache/
    ports: 
    - "8545:8545"

  hack-eth-back:
    build: ethereum-java-app/
    ports:
    - "8081:8081"

